.carousel {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner {
  max-width: 800px;
  border-radius: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 800px){
  .carousel-item img {
    max-width: 100%;
  }
}